@charset "utf-8";
/* CSS Document */

body{
	font:normal 12px Arial, Helvetica, sans-serif;
	background:#f6f6f6 url(../images/body_bg.jpg) top left repeat-x;
	margin:0px;
	padding:0px;
	color:#4d4d4f;
}
img{
	border:none;
}
input[type=text]{
	border:1px solid #ccc;
	height:20px;
	line-height:20px;
}
.listbox{
	border:1px solid #ccc;
	height:20px;
}
.wrapper{
	width:900px;
	margin:auto;
}
.header{
	width:900px;
	height:85px;
	padding:29px 0 0 0;
	margin:auto;
}
.logo{
	background: url(../images/logo.jpg) top left no-repeat;
	width:113px;
	height:74px;
	float:left;
	margin-left:10px;
}
.logo a{    
	display: block;
    height: 74px;
    width: 113px;
}
.username{
	float:right;
	height:74px;
	text-align:right;
	font-weight:bold;
	line-height:30px;
}
.username a{
	color: #5387c3;
	text-decoration: none;
}
.username a:hover{
	color: orange;
}
h1{
	font:normal 18px Arial, Helvetica, sans-serif;
	margin:0 0 10px ;
	padding:0px;
}
.login_wrapper{
	margin:auto;
	width:900px;
	height:420px;
	background:url(../images/img_login.jpg) no-repeat 220px 75px;
}
/************************************** TOP MAIN MENU *****************************/
.menu{
	width:900px;
	height:47px;
	margin:auto;
	margin-bottom:20px;
}
.menu ul, li{
	list-style-type:none;
	display:inline;
	margin:auto;
	padding:0px;
	margin-bottom:20px;
}
a.case1{
	background:url(../images/case1_normal.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
a.case1:hover { 
	background:url(../images/case1_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
.case1_active { 
	background:url(../images/case1_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}

a.case2{
	background:url(../images/case2_normal.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
a.case2:hover{ 
	background:url(../images/case2_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
.case2_active { 
	background:url(../images/case2_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}

a.case3{
	background:url(../images/case3_normal.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
a.case3:hover{ 
	background:url(../images/case3_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
.case3_active { 
	background:url(../images/case3_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}


a.case4{
	background:url(../images/case4_normal.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
a.case4:hover{ 
	background:url(../images/case4_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
.case4_active { 
	background:url(../images/case4_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}


a.case5{
	background:url(../images/case5_normal.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
a.case5:hover{ 
	background:url(../images/case5_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}
.case5_active { 
	background:url(../images/case5_active.jpg) top left no-repeat;
	width:180px;	height:47px;	float:left;
}

/**************************** RIGHT SIDE CSS **************************/
.content{
	width:900px;
	height:auto;
	margin:auto;
	overflow:hidden;
	margin-bottom:20px;
}
.content .right-side{
	float:right;
	width:630px;
}
.right_boxT{
	background:url(../images/right_box_t.jpg) top left no-repeat;
	width:630px;
	height:15px;
	float:left;
}
.right_boxM{
	background:url(../images/right_box_m.jpg) top left repeat-y;
	width:600px;
	padding:0 15px;
	float:left;
}
.right_boxB{
	background:url(../images/right_box_b.jpg) top left no-repeat;
	width:630px;
	height:15px;
	float:left;
}

.content .left-side{
	float:left;
	width:250px;
	margin-right:20px;
}
.left_boxT{
	background:url(../images/left_boxT.jpg) top left no-repeat;
	width:235px;
	height:32px;
	float:left;
	color:#fff;
	padding:10px 0 0 15px;
	font:normal 17px Verdana, Arial, Helvetica, sans-serif;
}
.left_boxM{
	background:url(../images/left_boxM.jpg) top left repeat-y;
	width:220px;
	padding:5px 15px 0 15px;
	float:left;
}
.left_boxB{
	background:url(../images/left_boxB.jpg) top left no-repeat;
	width:250px;
	height:15px;
	float:left;
}

.grid_table{
	border-collapse:collapse;
	border:1px solid #FFF;
}
.grid_table th{
	background-color: #4f81bd;
	border:1px solid #FFF;
	color:#fff;
	font:bold 12px Arial, Helvetica, sans-serif;
}
.grid_table tr{
	height:30px;
}
.grid_table td{
	border:1px solid #FFF;
	background:#d0d8e8;
}

.grid_table tr.alt td {
	background-color:#e9edf4;
}
.btn1{
	background:transparent url(../images/button1.jpg) top left no-repeat;
	width:132px; height:32px;
	border:none;
	color:#fff;
	font:bold 12px Arial, Helvetica, sans-serif;
	cursor:pointer;
}
/***************************** LEFT SIDE CSS ***********************/

.category{
	width:220px;
	margin:0px;
	padding:0px;
	font:normal 12px Arial, Helvetica, sans-serif;
}
.category ul, li{
	margin:0px;
	padding:0px;
}

.category li a{
	text-decoration:none;
	width:185px;
	color:#000000;
	background:url(../images/arrow1.jpg) no-repeat 0px 12px;
	padding:5px 0 5px 15px;
	float:left;
	line-height:20px;
}
.category li a:hover{
	color:#de761c;
}
.category li ul{
	margin-left:20px;
}
.category li ul li a{
	text-decoration:none;
	width:185px;
	color:#000000;
	background:url(../images/arrow2.jpg) no-repeat 0px 12px;
	padding:5px 0 5px 15px;
	float:left;
	line-height:20px;
}
.active{
	font-weight:bold;
}
/***************************** FOOTER CSS ***********************/
.footer{
	height:45px;
	background:#3c3f46;
	margin:auto;
	color:#919090;
	text-align:center;
	padding-top:30px;
}

/************************* COLORS CSS ***************************/
.days{
	width:900px;
	margin:auto;
	margin-top:25px;
}
.days div{
	width:28px;
	float:left;
	font: bold 10px Arial, Helvetica, sans-serif;
	text-align:center;
	border:1px solid #CCCCCC;
}
.months{
	width:900px;
	margin:auto;
	margin-top:25px;
}
.months div{
	width:73px;
	float:left;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-align:center;
	border:1px solid #CCCCCC;
	height:20px;
	padding-top:10px;
}
.six_days{
	width:900px;
	float:left;
	margin-top:25px;
}
.six_days div{
	width:148px;
	float:left;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-align:center;
	border:1px solid #CCCCCC;
	height:20px;
	padding-top:10px;
}


